<ion-content>
  <ion-button (click)="onClick('page')">
    Can't click me while modal is opened :(
  </ion-button>
</ion-content>

<ion-modal
  [isOpen]="true"
  [breakpoints]="[0, 0.3]"
  [initialBreakpoint]="0.3"
  backdropDismiss="false"
  showBackdrop="false"
  class="modal-propagation"
>
  <ng-template>
    <ion-content>
      <ion-toolbar>
        <ion-title>I'm a modal</ion-title>
      </ion-toolbar>
      <ion-button (click)="onClick('modal')">
        Click me
      </ion-button>
    </ion-content>
  </ng-template>
</ion-modal>
